#pizza-pic {
    width: 350px;
}

body {
    background-image: url("../images/backimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: black;
}

.award {
    text-align: center;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
    font-size: larger;
    text-transform: uppercase;
}

.main {
    background-color: burlywood;
}

.lead {
    text-align: center;
    color: rgb(20, 26, 24);
}

#second {
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: purple;
    font-style: italic;
    font-size: x-large;
}

#ORDER {
    background-color: royalblue;
}

#details {
    background-color: saddlebrown;
}

h2 {
    text-align: center;
    font-weight: bold;
    padding: 0.5cm;
}

.input-group-text {
    font-weight: bolder;
    color: brown;
}

.custom-select {
    color: black;
    font-style: italic;
    font-weight: bold;
}